
    div.greenbox {
        background-color: green;
        position: relative; /*  내가 기준점이 되어줄게! */
        top: 100px;
        left: 100px;
        width: 400px;
        height: 400px;      
    }

    /* 2. 자식 상자: 부모 안에서 날아다닙니다. */
    div.bluebox {

        background-color: blue;
        position: absolute; /*  난 부모 꼭짓점을 기준 */
        top: 0;             
        left: 0;            
        width: 150px;
        height: 50px;
    }
    

/* 
position: static; ➔ 부동(不動)의 상태 (태어난 자리에 가만히 박혀 있음)

position: relative; ➔ 원래 자리와 '연동(Relation)'된 상태 (원래 자리를 기준으로 움직임)

position: absolute; ➔ 원래 자리와 '단절'되어 절대적 좌표만 따르는 상태 (부모 꼭짓점 기준으로 날아다님) */

/*  1. display: flex;
    2. 박스 모델의 완성: box-sizing: border-box; (수학적 계산 타파) */


  /* 개구리게임 추천  https://flexboxfroggy.com/#ko */
