/* 태그 선택자란?
태그 선택자는 특정 HTML 태그 이름을 기준으로 요소(element)를
선택하는 CSS 선택자 입니다.
선택자 중에서 가장 많이 사용되는 선택자 입니다. 
https://hoazzinews.tustory.com/99 
*/


/* 
기본 문법
태그이름 {
    속성: 속성값;
}
*/
h1 {
   color:cornflowerblue;
}

p {
    color:rgb(202, 158, 12);
}

h1 {
    color:darkcyan;
}